.my-center {
    header {
        padding: 20px 0;
        text-align: center;
        background-color: #1AAD19;
    }
    .record {
        padding: 10px 20px;

        .record-details {
            font-size: 14px;
        }
    }
}
