.my-center {
    header {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        background-color: #1AAD19;
        .userinfo-avatar {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            overflow: hidden;
        }
        .user-name {
            color: #fff;
            text-align: center;
        }
    }
    .record {
        padding: 10px 20px;

        .record-details {
            font-size: 14px;
        }
    }
}
